<!-- todos.component.html -->
<main>
    <h1>Hello {{ user?.signInDetails?.loginId }}'s todos</h1>
    <button (click)="createTodo()">+ new</button>
    <ul>
        <li *ngFor="let todo of todos;">
          <div id="todo-item">
            <span>{{ todo.content }}</span>
            <span [style.cursor]="'pointer'" (click)="deleteTodo(todo.id)"> x </span>
          </div>
        </li>
    </ul>
    <div>
        🥳 App successfully hosted. Try creating a new todo.
        <br />
        <a href="https://docs.amplify.aws/gen2/start/quickstart/">
            Review next steps of this tutorial.
        </a>
    </div>
</main>
